<section class="contact">
  <div class="container">
    <div class="content d-flex align-items-center flex-column  ">


      <app-title [cssStyle]="'decoreContact'">
        <h2 class="text-uppercase pb-2 text-center">Contact component</h2>
      </app-title>
      <form action="" class="w-50">

        <label for="name" [class]="userName.length > 0 ? 'top0' : 'top40'">userName:</label>
        <input type="text" placeholder="userName" class="form-control  py-4" id="name" name="userName"
          [(ngModel)]="userName">

        <label for="age" [class]="userAge.length > 0 ? 'top0' : 'top40'">userAge:</label>
        <input type="text" placeholder="userAge" class="form-control py-4 " id="age" name="userAge"
          [(ngModel)]="userAge">
        <label for="email" [class]="userEmail.length > 0 ? 'top0' : 'top40'">userEmail:</label>
        <input type="email" placeholder="userEmail" class="form-control  py-4" id="email" [(ngModel)]="userEmail"
          name="userEmail">
        <label for="passorwd" [class]="password.length > 0 ? 'top0' : 'top40'">userPassword:</label>
        <input type="password" placeholder="userPassword:" class="form-control py-4 " id="passowrd"
          [(ngModel)]="password" name="passorwd">
        <button class="my-btn mt-3">Send Message</button>
      </form>
    </div>

  </div>
</section>
