<footer>
  <div class="contact">
    <div class="container">
      <div class="row gy-2">
        <div class="col-lg-4 col-md-6">
          <div class="inner">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="inner">
            <h3>AROUND THE WEB</h3>
            <span><i class="fa-brands fa-facebook"></i></span>
            <span><i class="fa-brands fa-twitter"></i></span>
            <span><i class="fa-brands fa-linkedin-in"></i></span>
            <span><i class="fa-solid fa-globe"></i></span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="inner">
            <h3>ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-Footer">
    <p>Copyright &copy; Your Website 2021</p>
  </div>
</footer>
