<section class="portfolio">
  <div class="ligtContainer   " [class.d-none]="flag" (click)="clossImage()">
    <div class="boxContainer vh-100 d-flex justify-content-center align-items-center">
      <img [src]="currentImage" class="w-50" (click)="stopClick($event)">
    </div>
  </div>
  <div class="container">
    <app-title [cssStyle]="'decorePortfolio'">
      <h2 class="text-uppercase pb-2 text-center">about component</h2>
    </app-title>

    <div class="row gy-3 py-3">
      @for(image of images ;track $index){
      <div class="col-lg-4 col-md-6">
        <div class="item" (click)="show($index)">

          <img src={{image}} alt="" class="w-100">
          <div class="layer"><i class="fa-solid fa-plus fa-6x"></i></div>
        </div>
      </div>
      }
      <!-- <div class="col-lg-4 col-md-6">
        <div class="item">

          <img src="/images/poert1.png" alt="" class="w-100">
          <div class="layer"><i class="fa-solid fa-plus fa-6x"></i></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <img src="/images/port2.png" alt="" class="w-100">
          <div class="layer"><i class="fa-solid fa-plus fa-6x"></i></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <img src="/images/port3.png" alt="" class="w-100">
          <div class="layer"><i class="fa-solid fa-plus fa-6x"></i></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <img src="/images/poert1.png" alt="" class="w-100">
          <div class="layer"><i class="fa-solid fa-plus fa-6x"></i></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <img src="/images/port2.png" alt="" class="w-100">
          <div class="layer"><i class="fa-solid fa-plus fa-6x"></i></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <img src="/images/port3.png" alt="" class="w-100">
          <div class="layer"><i class="fa-solid fa-plus fa-6x"></i></div>
        </div>
      </div> -->
    </div>
  </div>
</section>
